body {
  background: #000000 url('../death-star.jpeg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}
